# Whom to email this too
sendto="user@domain.com"

# Which report to send (blank for default as set in .taskrc)
# other reports can be setup in the .taskrc file
report=""

# Directory to find support files
inc="/home/user/scripts/taskwarrior-notifications"
tmp_email="/tmp/task_email.txt"
scripts="$inc/scripts"
mail_prog="/usr/sbin/ssmtp"

# Where to find the templates to use for HTML email
templates="$inc/templates"
