# Whom to email this too
sendto="user@domain.com"
sendfrom="taskuser@taskdomain.com"

# Which report to send (blank for default as set in .taskrc)
# other reports can be setup in the .taskrc file
report=""

# Directory to find support files
inc="$HOME/scripts/taskwarrior-notifications"
tmp_email="/tmp/task_email.txt"
scripts="$inc/scripts"

# sending using MTA
#mail_prog="/usr/sbin/ssmtp"

# direct local delivery to yourself
# using procmail
mail_prog=procmailsend

procmailsend() {
	shift
	/usr/bin/procmail
}

# Where to find the templates to use for HTML email
templates="$inc/templates"
